* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #E62D31;
  color: #ffffff;
}

::-moz-selection {
  background-color: #E62D31;
  color: #ffffff;
}